@{
    ViewBag.Title = "Youtube Manager";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This youtube manager help you to get and to store all of the metadata information about the channel and finally to store into db</p>
    
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Grab your channel's all possible metadata information by using your channel id as input. just click on bellow button to enjoy this jovial one.
        </p>
        <p><a class="btn btn-default" href="/youtube/getchannelinfo">Let's Go &raquo;</a></p>
    </div>    
</div>